/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes indicator {
  from {
    inset: var(--position-direction-start, 0 -20px);
  }

  to {
    inset: var(--position-direction-end, 0 -24px);
  }
}

.button-animation {
  position: relative;
  border: var(--border, 2px solid var(--accent-color, #000));
  text-align: center;
}

.button-animation:focus-visible {
  box-shadow: var(--box-shadow-button, 2px 2px 0 var(--accent-color, #000));
  transition: var(--transition-s, 0.3s);
}

.button-animation::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--accent-color, #000);
  transition: var(--transition-m, 0.5s) ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
}

.button-animation:hover::after {
  transform: scaleX(1);
}

/* .card__like-button {
  border: var(--border, 2px solid var(--accent-color, #000));
  text-align: center;
  text-transform: none;
  inline-size: 130px;
  block-size: 38px;
}

.card__like-button:focus-visible {
  box-shadow: var(--box-shadow-button, 2px 2px 0 var(--accent-color, #000));
  transition: var(--transition-s, 0.3s);
} */

/* .footer__save-button {
  text-transform: none;
  padding: 15px;
}

@media (width <= 768px) {
  .footer__save-button .floppy-icon {
    inline-size: max(100%, 28px);
    block-size: 28px;
    margin-block-end: 8px;
  }
} */

/* .banner__button-save {
  outline: var(--border, 2px solid var(--accent-color, #000));
  padding: 12.5px clamp(114.5px, 2vw, 132.5px);
  line-height: var(--line-height-sm, 0.9);
} */

.like-icon .sparks,
.like-icon .core,
.like-icon .main-body {
  opacity: 0; /* -- */
}

.like-icon .core {
  fill: var(--fill-accent, var(--accent-color, #000));
  transition: var(--transition-s, 0.3s) 0.03s;
}

.like-icon:hover .core {
  opacity: 100%; /* -- */
  fill: var(--fill-accent, var(--accent-color, #000));
  transition: var(--transition-s, 0.3s) linear;
}

.like-icon .main-body {
  fill: var(--fill-accent, var(--accent-color, #000));
  transition: var(--transition-s, 0.3s);
}

.like-icon:hover .main-body {
  opacity: 100%; /* -- */
  fill: var(--fill-accent, var(--accent-color, #000));
  transition: var(--transition-s, 0.3s) 0.05s linear;
}

.like-icon:active .core,
.like-icon:active .main-body {
  opacity: 100%; /* -- */
  fill: var(--fill-sparks, #f00);
  transition: var(--transition-s, 0.3s) linear;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  opacity: 100%; /* -- */
  fill: var(--fill-sparks, #f00);
  transition: var(--transition-s, 0.3s) linear;
}

.like-icon .contour {
  transition: 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--fill-sparks, #f00);
  transition: var(--transition-s, 0.3s) 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart var(--transition-s, 0.3s) 0.1s ease-in alternate;
}

@keyframes heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: sparks var(--transition-s, 0.3s) 0.3s ease-in alternate;
}

@keyframes sparks {
  from {
    opacity: 100%;
  }

  to {
    opacity: 100%;
  }
}
