/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.accent-text {
  font-family: var(--font-accent, 'PressStart2P-Regular', sans-serif);
  text-transform: uppercase;
}

.wrapper {
  border: var(--border, 2px solid var(--accent-color, #000));
  background-color: var(--background-color, #fff);
  inline-size: min(100%, var(--container-max-width, 700px));
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: none;
  padding: 0;
  font-size: var(--font-size-s, 14px);
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

/*
 TODO:  
    проверить потом на переполнении контента;
    может картинку сделать 696px, а border сделать для заголовка нижний и параграфа верхний небольшое расхождение в пару пикселей;
    сделать правильный порядок по всевдоклассам;
    я ограничиваю всё по высоте сделать гибкий размер;
*/
.page {
  color: var(--accent-color, #000);
  font-family: var(--font-main, Arial, sans-serif);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--font-weight-main, 400);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  margin-block-start: var(--margin-m, 100px);
}

.header__logo {
  padding-block-start: var(--padding-adaptive-logo, 
    clamp(120px, calc(120px + (136 - 120) * ((100vw - 375px) / (700 - 375))), 136px));
  font-size: clamp(2.72rem, 4.92vw + 1.7rem, 3.61rem);
  
}

.header__title {
  padding-block-start: var(--padding-s, 20px);
  font-size: clamp(0.78rem, 2.77vw + 0.2rem, 1.28rem);
}

.header__theme-menu {
  padding: var(--padding-adaptive-header-title,
    25px clamp(133px, 25vw, 297px) 25px clamp(154px, 25vw, 315px)); /* 25 */
}

.theme-menu__item:not(:last-of-type) {
  margin-block-end: var(--margin-button-not-last, 14px);
}

.theme-menu__list {
  font-size: var(--font-size-s, 14px); /* сам ul имеет 18px из-за этого расхождение по px */
}

.theme-menu__button {
  position: relative;
}

.theme-menu__button:disabled {
  transition: var(--transition-s, 0.3s);
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset: 0;
  animation: indicator var(--transition-m, 0.5s) ease-in-out infinite alternate;
  inline-size: 14px;
  block-size: 14px;
}

.theme-menu__button:hover {
  transition: var(--transition-s, 0.3s);
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:focus {
  opacity: var(--opacity-l, 60%);
}

.theme-menu__button:focus,
.card__like-button:focus,
.footer__save-button {
  outline: none;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: var(--accent-color, #000);
  transition: transform var(--transition-s, 0.3s) ease;
  transform: scaleX(0);
  transform-origin: bottom left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  opacity: var(--opacity-l, 60%);
  transform: scaleX(1);
}

.main {
  gap: var(--gap-m, 50px);
  margin-block-start: var(--margin-m, 100px);
}

.card__title {
  align-self: start;
  padding: var(--padding-adaptive-card-title,
    clamp(4px, calc(4px + 1vw * 0.5), 5px) 10px clamp(4px, calc(6px - 2vw * 0.5), 6px));
  font-size: inherit;
  line-height: var(--line-height-l, 1.21);
  font-variation-settings: 'wght' var(--font-weight-heading, 700);
}

.card__overlay {
  position: relative;
  border-block-start: var(--border, 2px solid var(--accent-color, #000));
  border-block-end: var(--border, 2px solid var(--accent-color, #000));
}

.card__overlay-decor {
  position: absolute;
  top: var(--position-overlay-decor-top, clamp(22px, 4vw, 25px));
  right: var(--position-overlay-decor-right, clamp(11px, 2vw, 25px));
  opacity: var(--opacity-m, 50%);
  font-size: var(--font-size-s, 14px);
  text-shadow: var(--text-shadow, 0.5px 0.5px #fff, -0.5px -0.5px #fff);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: var(--text-stroke, 0.5px #fff)) or (-webkit-text-stroke: var(--text-stroke, 0.5px #fff))) {
  .card__overlay-decor {
    text-shadow: none;
    -webkit-text-stroke: var(--text-stroke, 0.5px #fff);
    text-stroke: var(--text-stroke, 0.5px #fff);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__content {
  align-self: start;
  padding: var(--padding-m, 25px) var(--padding-m, 25px) 0;
  line-height: var(--line-height-m, 1.167);
}

.card__content + .card__content {
  padding: calc(var(--padding-m, 25px) + 2px) var(--padding-m, 25px) 0;
}

.card__button {
  flex-direction: row;
  gap: var(--gap-s, 8px);
  align-self: end;
  margin: var(--margin-s, 25px ) var(--margin-s, 25px ) var(--margin-s, 25px ) 0;
}

.card__icon-button {
  font-size: 0px;
}

.card__icon-button:focus-visible {
  outline: var(--border, 2px solid var(--accent-color, #000));
  transition: var(--transition-s, 0.3s) ease;
}

.card__like-button {
  border: var(--border, 2px solid var(--accent-color, #000));
  text-align: center;
  text-transform: none;
  inline-size: 130px; /* если использовать падинг то реагирует на размер с иконкой */
  block-size: 38px;
}

.card__like-button:focus-visible {
  box-shadow: var(--box-shadow-button, 2px 2px 0 var(--accent-color, #000));
  transition: var(--transition-s, 0.3s);
}

.button__text,
.floppy-icon {
  position: relative;
  z-index: 1;
  color: var(--transition-color, #fff);
  mix-blend-mode: difference;
}

.floppy-icon {
  stroke-width: 0;
}

.button-animation {
  position: relative;
}

.button-animation::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--accent-color, #000);
  transition: var(--transition-m, 0.5s) ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
}

.button-animation:hover::after {
  transform: scaleX(1);
}

.footer {
  margin: 50px 0 103px 0; /* -- */
  background-color: var(--background-color, #fff);
  inline-size: clamp(306px, 45vw, 335px);

}

.footer__save-button {
  text-transform: none;
  padding: 15px 15px 15px 15px;
}

@media (width <= 768px) {
  .footer__save-button .floppy-icon {
    width: 28px;
    height: 28px;
    width: 100%;
    margin-block-end: 8px;
  }
}

.banner {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  gap: 30px; /*  */
  border: var(--border, 2px solid var(--accent-color, #000));
  padding: 30px clamp(42px, 2vw, 30px); /* -- */
  background-color: var(--background-color, #fff);
  transition: 0.3s ease-in-out;
}

.banner:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.banner::backdrop {
  background-color: rgb(0 0 0 / 0.7); /* -- */
} 

.banner__content {
  flex-direction: row;
  gap: 20px; /*  */
  font-size: 14px; /*  */  
}

.banner__content-text {
  color: var(--accent-color, #000);
  line-height: 1.5;
  text-transform: uppercase;
  inline-size: min(198px, 234px);
  block-size: 63px;
}

.banner__button-save {
  outline: var(--border, 2px solid var(--accent-color, #000));
  padding: 12.5px clamp(114.5px, 2vw, 132.5px);
  line-height: 0.9; /**/
}