/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P-Regular', sans-serif;
  --font-weight-light: 400;
  --font-weight-dark: 465;
  --font-weight-heading-light: 700;
  --font-weight-heading-dark: 785;

  --font-weight-main: var(--font-weight-light, 400); /* нашёл причину и нужно повнимательнее с переменными */
  --font-weight-heading: var(--font-weight-heading-light, 700);

  --background-color: #fff;
  --accent-color: #000;

  --background-image-light:
    repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --background-image-dark:
    repeating-linear-gradient(90deg, #000 0, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #000 0, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #007f0c, #004306);

  --background-image: var(--background-image-light);

  --container-max-width: 700px;

  --margin-m: 100px;

  --line-height-s: 1;
}