/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P-Regular', sans-serif;
  --font-weight-light: 400;
  --font-weight-dark: 465;
  --font-weight-heading-light: 700;
  --font-weight-heading-dark: 785;

  --font-weight-main: var(--font-weight-light, 400);
  --font-weight-heading: var(--font-weight-heading-light, 700);

  --font-size-s: 14px;

  --line-height-s: 1;
  --line-height-m: 1.167;
  --line-height-l: 1.21;

  --background-color: #fff;
  --accent-color: #000;

  --border: 2px solid var(--accent-color, #000);

  --background-image-light:
    repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --background-image-dark:
    repeating-linear-gradient(90deg, #000 0, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #000 0, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #007f0c, #004306);

  --background-image: var(--background-image-light);

  --text-shadow: 0.5px 0.5px #fff, -0.5px -0.5px #fff;
  --text-stroke: 0.5px #fff;

  --container-max-width: 700px;

  --gap-s: 12px;
  --gap-m: 50px;

  --margin-s: 25px ;
  --margin-m: 100px;
  --margin-l: ;
  --margin-button-not-last: 14px;

  --padding-s: 20px;
  --padding-m: 25px;
  --padding-adaptive-logo:
    clamp(120px, calc(120px + (136 - 120) * ((100vw - 375px) / (700 - 375))), 136px);
  --padding-adaptive-title:
    25px clamp(133px, 25vw, 297px) 25px clamp(154px, 25vw, 315px);

  --transition-s: 0.3s;
  --transition-m: 0.5s;

  --opacity-m: 50%;
  --opacity-l: 60%;

  --position-direction-default: 0;
  --position-direction-start: 0 -20px;
  --position-direction-end: 0 -24px;
}