/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P-Regular', sans-serif;
  --font-weight-light: 400;
  --font-weight-dark: 465;
  --font-weight-heading-light: 700;
  --font-weight-heading-dark: 785;

  --font-weight-main: var(--font-weight-light, 400);
  --font-weight-heading: var(--font-weight-heading-light, 700);

  --font-size-s: 14px;

  --line-height-s: 1;
  --line-height-m: 1.167;
  --line-height-l: 1.21;

  --background-color: #fff;
  --accent-color: #000;

  --border: 2px solid var(--accent-color, #000);

  --background-image-light:
    repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --background-image-dark:
    repeating-linear-gradient(90deg, #000 0, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #000 0, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #007f0c, #004306);

  --background-image: var(--background-image-light);

  --text-shadow: 0.5px 0.5px #fff, -0.5px -0.5px #fff;
  --text-stroke: 0.5px #fff;

  --container-max-width: 700px;

  --gap-s: 8px;
  --gap-m: 50px;

  --margin-s: 25px ;
  --margin-m: 50px;
  --margin-l: 100px;
  --margin-button-not-last: 14px; /* может более общее название? */

  --padding-s: 20px;
  --padding-m: 25px;
  --padding-adaptive-logo:
    clamp(120px, calc(120px + (136 - 120) * ((100vw - 375px) / (700 - 375))), 136px);
  --padding-adaptive-header-title:
    25px clamp(133px, 25vw, 297px) 25px clamp(154px, 25vw, 315px);
  --padding-adaptive-card-title:
    clamp(4px, calc(4px + 1vw * 0.5), 5px) 10px clamp(4px, calc(6px - 2vw * 0.5), 6px);

  --transition-s: 0.3s;
  --transition-m: 0.5s;
  --transition-color: #fff;

  --box-shadow-button: 2px 2px 0 var(--accent-color, #000);

  --opacity-m: 50%;
  --opacity-l: 60%;

  --position-direction-start: 0 -20px;
  --position-direction-end: 0 -24px;

  --position-overlay-decor-top: clamp(22px, 4vw, 25px);
  --position-overlay-decor-right: clamp(11px, 2vw, 25px);

  --fill-accent: var(--accent-color, #000);
  --fill-sparks: #f00;
  
  --filter-retro: contrast(150%) brightness(80%) saturate(200%);
  --filter-depression: sepia(60%) saturate(50%) brightness(90%);
  --filter-happy: invert(75%);
  --filter-retro-neon: contrast(150%) sepia(20%) hue-rotate(270deg) saturate(150%);
  --filter-melancholy: invert(75%) sepia(20%) saturate(80%);
  --filter-vintage: sepia(100%) contrast(90%) saturate(60%);
  --filter-sleepy: blur(8px) hue-rotate(260deg);
  --filter-psychedelic: hue-rotate(150deg) invert(15%) brightness(80%) contrast(85%);
}